html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:inherit;font-size:100%;vertical-align:baseline;}
html{height:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,button,input,select,textarea{font-family:sans-serif;}
table{border-spacing:0;}
td{vertical-align:top;}

/** @section Basic */
body{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif,"MS PGothic";font-size:11px;line-height:14px;color:#666;background:#000 url(../img/bg/bg-body.png) repeat-x left top}
del{text-decoration:line-through;color:red}
ins{text-decoration:underline;color:#0a0}
em,i{font-style:italic}
b,strong{font-weight:700}
blockquote{margin-left:5px;padding-left:10px;font-style:italic;border-left:1px solid #dadada}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{font-style:italic}
q:before{content:open-quote}
q:after{content:close-quote}
small{font-size:85%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0;-ms-interpolation-mode:bicubic;line-height:0;vertical-align:middle;max-width:100%;height:auto}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
::selection{background:#0690ca;color:#fff}
::-moz-selection{background:#0690ca;color:#fff}
a{text-decoration:none;color:#666;font-weight:inherit}
a:focus,a:hover{outline:0;text-decoration:none;color:#00ADEF}
.link{color:#036;background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat 0 5px;padding-left:10px;display:inline-block;height:16px;line-height:16px}
.link:focus,.link:hover{background-position:0 -59px}
.link span:focus, .link span:hover{outline:0;text-decoration:none;color:#00ADEF}
.inline-block{display:inline-block;overflow:hidden;width:200px}
h1,h2,h3,h4,h5,h6{margin-bottom:20px;line-height:1;}
h1{font-size:24px}
h2{font-size:20px}
h3{font-size:12px;font-weight:700;margin-bottom:15px}
h4{font-size:12px}
h5{font-size:12px;font-weight:700;margin-bottom:10px}
h6{font-size:11px}
p{margin-bottom:14px}
ul{list-style:disc inside}
ul li{margin-bottom:14px}
ul ul{margin-top:14px;margin-bottom:0;list-style:square inside}
table{border-top:1px solid #ddd;border-left:1px solid #ddd;margin:0 0 14px;width:100%}
table td,table th{border-bottom:1px solid #ddd;border-right:1px solid #ddd;background-color:#fff;padding:5px}
table th{font-weight:700;font-size:12px}
table table{margin:0}table table td,table table th{padding:0 0 5px}
table.no-border,table.no-border td,table.no-border th{border:none}
table.no-bg-color,table.no-bg-color td,table.no-bg-color th{background:0 0}
table.zebra td{background-color:#fff}
table.zebra th,table.zebra tr.odd>td{background-color:#f8f8f8}
table.zebra table td{background-color:transparent}

/* positions */
.left{float:left}
.right{float:right}
.indent-10{margin-left:-10px!important}
.indent-20{margin-left:-20px!important}
.indent-plus-20{margin-left:20px!important}
/* layout */
.row{clear:both;margin-bottom:10px}
.list-inline{list-style:none}
.list-inline li{float:left;margin:0}
/* Clearfix */
.cf:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.cf{*zoom: 1}
.c{clear:both}

/* Buttons */
.btn {
	display: inline-block;
	height: 17px;
	padding-right: 7px;
	padding-left: 7px;
	border: 1px solid #999999;
	border-bottom-color: #333333;
	border-right-color: #333333;
	color: white;
	font-size: 11px;
	line-height: 1;
	position: relative;
	background: #606061 url('../img/bg/bg-btn-grey.png') repeat-x left top;
	overflow: visible; /* IE8 needs this !! */
	cursor: pointer;
}
.btn.small{width:20px}
.btn:focus,.btn:hover{background:#333 url(../img/bg/bg-btn-grey-hover.png) repeat-x left top;text-decoration:none}

/* Button up,  Button down */
.btn.down,.btn.up{padding:0}

/* Trigger collapse */
.collapse-trigger{float:left;margin-right:10px}
.collapse-trigger+h3{padding-top:4px}
/** @section Standard Wrapper */
.wrapper{width:1000px;margin:0 auto}
/** @section Container */
.container{background:#fff;position:relative}
.container.spaceForFixed{padding-top:24px}
.container.epc.spaceForFixed{padding-top:59px}
.container.shopping-cart.spaceForFixed{padding-top:48px}
.container.spaceForFixedIspc{padding-top:48px}
.container.epc.spaceForFixedIspc{padding-top:59px}
.container.shopping-cart.spaceForFixedIspc{padding-top:48px}

/** @section Sidebar */
.sidebar{width:230px;margin:35px 0 0 10px;clear:left;}
.epc-sidebar{margin-top:0}
/** @section Sub Navigation */
/* 1. Ebene */
.sub-navi{list-style:none;background:#2b2d31 url(../img/bg/bg-sub-nav-1.png) no-repeat center top;margin-bottom:10px;padding-bottom:8px}
.sub-navi li{margin:0;background:url(../img/bg/bg-sub-nav-divider.png) repeat-x left bottom}
.sub-navi li a{color:#fff;display:block;padding:6px 20px}
.sub-navi li a:focus,.sub-navi li a:hover,.sub-navi li.active>a{color:#00adef;text-decoration:none}
.sub-navi li.label a{font-size:13px;padding-top:13px;padding-bottom:13px}

/** @section EPC Sub Navigation */
.epc-sub-navi{text-transform:uppercase}
.epc-sub-navi .label{text-transform:none;font-size:13px}
.epc-sub-navi .label .label-text{display:block;padding:13px 20px;background:url(../img/bg/bg-sub-nav-divider.png) repeat-x left bottom;color:#fff;font-size:13px}
.epc-sub-navi .label a.label-text{width:125px}
.epc-sub-navi .label span.label-text{width:190px}
.epc-sub-navi li{position:relative;clear:both}
.epc-sub-navi-item{padding:6px 20px;display:block;color:#fff}
.epc-sub-navi-item em{font-style:normal}
.epc-sub-navi li.separator{background:white}
.epc-sub-navi li.active{background-color:#666}
.epc-sub-navi li.active>a{color:#fff}
.epc-sub-navi li.active>a:focus,.epc-sub-navi li.active>a:hover{color:#00ADEF}
.epc-sub-navi li.favorite>a:before{content:'*';font-size:19px;position:absolute;top:9px;left:7px}
.epc-sub-navi li.rec5>a:before{content:'!';font-size:12px;position:absolute;left:7px}
.epc-sub-navi li a.sub-navi-options{width:25px;height:100%;text-indent:-9999px;background:url(../img/bg/bg-sub-nav-options-divider.png) no-repeat bottom left;padding-top: 12px;padding-bottom: 12px;}
.epc-sub-navi li .sub-navi-options-icon{display:block;background:url(../img/ico/ico-sub-navi-options.png) no-repeat center bottom;height:16px}
.epc-sub-navi li .sub-navi-options:focus .sub-navi-options-icon,.epc-sub-navi li .sub-navi-options:hover .sub-navi-options-icon{background:url(../img/ico/ico-sub-navi-options.png) no-repeat center -66px}
.epc-sub-navi li .sub-navi-options.open{background:url(../img/bg/bg-sub-nav-options-divider-open.png) no-repeat bottom left}
.epc-sub-navi li .sub-navi-options.open .sub-navi-options-icon{background:url(../img/ico/ico-sub-navi-options-open.png) no-repeat center bottom}
.epc-sub-navi li .sub-navi-options.open:focus .sub-navi-options-icon,.epc-sub-navi li .sub-navi-options.open:hover .sub-navi-options-icon{background:url(../img/ico/ico-sub-navi-options-open.png) no-repeat center -66px}
.sub-navi-options-form{padding-left:20px;color:#fff;clear:both;margin-top:15px;width:210px;float:left;background:url(../img/bg/bg-sub-nav-divider.png) repeat-x left bottom;display:none}
.epc-sub-navi .sub-navi-options-list{background:0 0;margin-bottom:15px}
.epc-sub-navi .sub-navi-options-list li{background:0 0;line-height:19px}
.epc-sub-navi .additional-link{margin-left:20px;background:url(../img/bg/bg-dotted-line.png) repeat-x left top}
.epc-sub-navi .additional-link a{padding-left:10px;background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left -118px;text-transform:none;font-size:11px;display:inline-block}
.epc-sub-navi .additional-link a:focus,.epc-sub-navi .additional-link a:hover{background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left -54px}
/** @section Content */
.content{width:711px;margin:35px 10px 10px 19px;padding:0 0 10px 19px;border-left:1px solid #E3E3E3;min-height:600px;height:auto!important;height:600px}
.epc-content,.epc-content-default{width:717px;margin:0 10px 10px;padding:0 0 10px 10px;border-left:0;position:relative}
.epc-content-default{border:2px dashed #ddd;padding:10px 0 10px 10px}

/** @section EPC */
.grey-container{background:#ECECEC url(../img/bg/bg-order-number.png) repeat-x bottom left;margin-bottom:20px;margin-left:10px;margin-right:10px}
.grey-container form.default-form{margin-bottom:0}
.grey-container .default-form input[type="password"],.grey-container .default-form input[type="text"],.grey-container .default-form select,.grey-container .default-form textarea{width:186px;border:1px solid #ddd}
.grey-container.embedded{margin-right:0}
.grey-container-item{padding:10px 25px 10px 15px;background:url(../img/bg/bg-grey-container-divider.png) repeat-y top left}
.grey-container-item:first-child{padding:10px 25px 10px 10px;background:0 0}
.grey-container-item-nested,.grey-container-item-nested:first-child{margin-right:60px}
.grey-container .recherche-show-vehicles{color:#036;background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left 5px}
.grey-container .recherche-show-vehicles:focus,.grey-container .recherche-show-vehicles:hover{background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left -59px;color:#00ADEF}
.group-only{margin-top:10px}
.group-only label{width:auto;padding-left:6px;text-align:left}
.group-only label.disabled {font-style:italic;cursor:default;color:#888}
.search-numberplate{margin-top:10px}
.search-numberplate label{width:auto;padding-left:6px;text-align:left}
.search-numberplate label.disabled {font-style:italic;cursor:default;color:#888}
.icon-list a, a.small-icon {display:block;width:16px;height:16px;margin-right:10px}
.icon-list .save{background: url('../img/ico/ico-save-sprite.png') no-repeat top left;}
.icon-list .save.disabled, .icon-list .save.disabled:hover, .icon-list .save.disabled:focus {background: url('../img/ico/ico-save-sprite.png') no-repeat top left; background-position:center -132px;cursor:default;}
.icon-list .save:hover, .icon-list .save:focus{background-position:center -66px;}
.icon-list .data-map{background: url('../img/ico/ico-data-map-sprite.png') no-repeat top left;}
.icon-list .data-map:hover, .icon-list .data-map:focus{background-position:center -66px;}
.icon-list .data-map-disabled{background:url(../img/ico/ico-no-data-map.png) no-repeat top left;cursor:default;}
.icon-list .filter{background: url('../img/ico/ico-filter-settings-sprite.png') no-repeat top left;}
.icon-list .filter:hover, .icon-list .filter:focus{background-position:center -66px;}
.icon-list .filter{background: url('../img/ico/ico-filter-settings-sprite.png') no-repeat top left;}
.icon-list .filter.disabled,.icon-list .filter.disabled:hover, .icon-list .filter.disabled:focus{background-position:center -132px;cursor:default;}
.icon-list .filter-partly-disabled{background: url('../img/ico/ico-filter-settings-partly-deactivated-sprite.png') no-repeat top left;}
.icon-list .filter-partly-disabled:hover, .icon-list .filter-partly-disabled:focus{background-position:center -66px;}
.icon-list .filter-none{background: url('../img/ico/ico-filter-settings-none.png') no-repeat top left;}

.epc-flag-linkslenker{background:url(../img/ico/ico-left-hand-drive-sprite.png) no-repeat 0 0px;height:16px;width:16px}
.epc-flag-rechtslenker{background:url(../img/ico/ico-right-hand-drive-sprite.png) no-repeat 0 0px;height:16px;width:16px}
.epc-flag-automatic{background:url(../img/ico/ico-gears-automatical-sprite.png) no-repeat 0 0px;height:16px;width:16px}
.epc-flag-manual{background:url(../img/ico/ico-gears-manually-sprite.png) no-repeat 0 0px;height:16px;width:16px}
.icon-list div{display:block;width:16px;height:16px;margin-right:10px;cursor:pointer}
form.epc-part-id .epc-part-id-select{width:190px}
.full-border-container{padding:18px 20px;border-top:1px solid #E3E3E3;border-bottom:1px solid #E3E3E3;width:701px;margin-left:-20px;margin-bottom:20px;font-size:12px;line-height:18px}

/* tabs */
.tab-wrapper{margin-top:20px}
.tab-bar{list-style:none;background:#7D8083 url(../img/bg/bg-toolbar-grey.png) repeat-x bottom left;border-bottom:1px solid #dbdbdb;margin-bottom:14px;padding-left:10px}
.tab-bar.embedded{width:731px}
.tab-bar li{float:left;margin:0}
.tab-bar li:first-child .tab-bar-link{padding-left:20px}
.tab-bar-link{font-size:12px;color:#FFF;border:none;outline:0;display:block;line-height:24px;height:24px;padding:0 15px;background:url(../img/bg/bg-toolbar-divider.png) no-repeat right center}
.tab-bar-link:focus,.tab-bar-link:hover{text-decoration:none}
.tab-bar-link-arrow{display:inline-block;background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left -128px;width:4px;height:6px;margin-left:5px;position:relative;top:-1px}
.tab-bar-active .tab-bar-link-arrow,.tab-bar-link:focus .tab-bar-link-arrow,.tab-bar-link:hover .tab-bar-link-arrow{background:url(../img/ico/ico-arrow-next-blue-sprite.png) no-repeat left -64px}
.tab-bar-active-before .tab-bar-link{background:0 0}
.tab-bar-active .tab-bar-link{color:#00ADEF;margin-top:-4px;padding-top:3px;height:24px;background:#fff;border:1px solid #dbdbdb;border-bottom:1px solid #fff;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;position:relative;top:1px}
.tab-content.active{display:block}
.tab-content.hide{display:none}

/* breadcrumb */
.breadcrumb {
	list-style: none;
	height: 35px;
	line-height: 35px;
	background: white;
}

.breadcrumb.fixed {
	position: fixed;
	top: 24px;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
	z-index: 19; /* less than z-index of .model-nav-wrapper.fixed */
}

.breadcrumb li {
	float: left;
	margin: 0;
}

.breadcrumb li:first-child {
	padding-left: 20px;
}

.breadcrumb li a,.breadcrumb li em {
	float: left;
	margin: 0 6px 0 0;
	padding-left: 10px;
	color: #003366;
	background: url('../img/ico/ico-arrow-next-blue-sprite.png') no-repeat left 14px;
}

/* EPC Hauptseite */
.epc-default-text {
	position: absolute;
	top: 25%;
	left: 50%; /* center of the whole app-space area would be 250px */
	width: 330px;
	height: 60px;
	margin-left: -165px;
	margin-top: -30px;
	font-size: 24px;
	line-height: 1.2;
	color: #ccc;
	text-align: center;
}

/* EPC sub-group*/
.sub-group-row {
	border: 1px solid #dddddd;
	margin-bottom: 10px;
}

.sub-group-row-heading-container {
	border-bottom: 1px solid #dddddd;
	background-color: #EEE;
	padding: 7px 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.sub-group-row-heading {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom:0;
}
/* limit displayed sub-group header when used in horizontal arrangement */
.part-detection-slider .sub-group-row-heading-container {height: 12px;}
.part-detection-slider .sub-group-row-heading {position: absolute;}

.sub-group-row-heading>a {
	margin: 0 10px;
}

.sub-group-row-heading-container div {
	margin: 0 10px;
}

li.active .sub-group-row-heading>a {
	color: #00ADEF;
}

.sub-group-row-heading.hover>a {
	outline: none;
	text-decoration: none;
	color: #00ADEF;
}

.sub-group-list {
	margin-top: 0;
	padding: 10px 0 10px 10px;
}

li.active .sub-group-list {
	background-color: #EEE;
}

.sub-group-list li {
	margin-right: 10px;
}

.sub-group-thumb-link {
	position: relative;
	display: inline-block;
	z-index: 1;
	border: 1px solid #DDD;
	overflow: hidden;
}

.sub-group-thumb-alttext{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    margin: -14px 0 0 -50%;
    display: block;
    text-align: center;
}

.part-detection-slider .sub-group-thumb-link {
	width: 114px;
	height: 85px;
}

.sub-group-row .sub-group-thumb-link {
	width: 164px;
	height: 122px;
}

.sub-group-thumb-link .sub-group-thumb-cover {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: url('../img/bg/transparent.png') repeat left top;
	cursor: pointer;
}

.sub-group-list li.active .sub-group-thumb-link .sub-group-thumb-cover {
	background: url('../img/bg/transparent50-blue96DCFA.png') repeat left
		top;
}

.sub-group-thumb-link:hover .sub-group-thumb-cover,.sub-group-thumb-link:focus .sub-group-thumb-cover {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: url('../img/bg/transparent65-blue00ADEF.png') repeat left top;
}

.sub-group-thumb-link-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
}

.sub-group-thumb {
	width: 100%;
	height: auto;
}

/* EPC part detection */
.part-detection-slider-wrapper {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	position: relative;
	overflow: hidden;
}

.part-detection-slider-nav {
	position: absolute;
	top: 0;
	width: 34px;
	height: 100%;
	background-repeat: no-repeat;
	background-color: white;
}

.part-detection-slider-nav.slider-prev {
    left: 0;
    border-right: 1px solid #ddd;
    background-image: url('../img/ico/ico-slider-nav-prev-sprite.png');
}

.part-detection-slider-nav.slider-next {
    right: 0;
    border-left: 1px solid #ddd;
    background-image: url('../img/ico/ico-slider-nav-next-sprite.png');
}

.part-detection-slider-nav.disabled {
    background-position: -142px 56px;
    cursor: default;
}

.part-detection-slider-container {
	margin: 0 35px;
	overflow: hidden;
}

.part-detection-slider>li {
	border-right: 1px solid #dddddd;
	overflow: hidden;
	position: relative;
}
